#root {
  text-align: center;
  width: 100%;
}

.header{
  width: 100%;
  margin: 0 auto;
  height: 150px;
  text-align: center;
  background-color: #1F9AC4;
  top: 0;
  position: relative;
}

.main{
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
}

.titre{
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 50px;
}

.mesinfos{
  background-color: #1F9AC4;
  width: 80%;
  margin: 0 auto;
  color: white;
  margin-bottom: 50px;
  border-radius: 12px;
  padding: 20px;
}

.majinfos{
  background-color: #1F9AC4;
  width: 80%;
  margin: 0 auto;
  color: white;
  border-radius: 12px;
  padding: 20px;
}

.footer{
  width: 100%;
  margin: 0 auto;
  height: 150px;
  margin-top: 50px;
  text-align: center;
  background-color: #1F9AC4;
  bottom: 0;
  position: relative;
}

.developed{
  max-width: 1140px;
  font-size: 14px;
  text-align: end;
  width: 100%;
  padding-top: 100px;
}

@media screen and (max-width: 768px) {
  #root {
    height: 1570px;
  }
}

